{% extends 'db/base.html' %}
{% block content %}
{% if all_students %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Other Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
        <th scope="col">Course</th>
        <th scope="col">D.O.B</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

        {% for student in all_students %}
      <tr>
        <td>{{student.first_name}}</td>
        <td>{{student.other_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.address}}</td>
        <td>{{student.course}}</td>
        <td>{{student.d_o_b}}</td>
        <td><a href="{% url 'update_student' student.id %}"><button>Update</button></a></td>
        <td><a href="{% url 'delete_student' student.id %}"><button>Delete</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}